*,
*::before 
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-text-size-adjust: 100%;
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px
}

a {
    display: block;
    text-decoration: none;
}
.body{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    min-width: 320px;
}
.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background-color: rgb(201, 202, 202);
    backdrop-filter: blu(2rem);
}

.nav-list { 
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--r-globalnav-color);
    position: relative;
    z-index: 1;
    padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));
    height: 44px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline-offset: -7px;
    transition: color .32s cubic-bezier(.4, 0, .6, 1);
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link-apple {

    width: 1.6rem;
    background: url("assets/logo.png") center no-repeat;
    height: 44px;
    background-size: contain;
}
.nav-link-search{
    width: 1.6rem;
    height: 44px;
    background: url("assets/search.png") center no-repeat;
    background-size: contain;
}
.nav-link-bag{
    width: 1.6rem;
    height: 44px;
    margin-right: 1rem;
    background: url("assets/bag.png") center no-repeat;
    background-size: contain;
}

.iphone-14-pro{
    background:url("assets/iphones-first-section.png") ;
    background-size: contain;
    margin-top: 4.4rem;
    margin: auto;
    border-top: none;
}
.title{
    color: rgb(245,245, 247);
    text-align: center;
    padding-top: 5.5rem;
}
.title-heading-iphone14{
    font-size: 36px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: .004em;
    margin-bottom: 0px;
    
}
.title-sub-heading-iphone14{
    font-size: 19px;
    line-height: 1.11053;
    font-weight: 400;
    letter-spacing: 0em;
    padding-top: 0px;
}
.cta{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    position: relative;
    z-index: 4;
    text-decoration: none;
    margin-top: 0.7em;
    text-align: center;
}
.cta-link{
    color: #2997ff;
   margin-left: -1px;
   pointer-events: all;
   display: inline-block;
}
.cta-link:nth-child(2){
    margin-left: 2.6rem;
}
.cta-link:hover{
    border-bottom: 2px solid #2997ff;
}

.gift-card-campaign{
    background: url("assets/gift-card\ section.png");
    

}
.title-dark{
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: -.002em;
    margin-top: var(--global-nav-collective-height);
    color: #1d1d1f;
}
.title-heading{
    margin-block-start: 1.2em;
    margin-block-end: 0.4em;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 0px;
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title-sub-heading{
    font-size: 19px;
    width: 100%;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.cta-link-darker{
    color: #2997ff;
}
.cta-link-darker:hover{
    border-bottom: 2px solid #2997ff;
}

.macbook-air-15{
    background: url("assets/macbook.png");

}
.grid-container{
    display: grid;
    grid-gap: var(--gutter-width);
    grid-template-columns: repeat(var(--columns), 1fr); 
    --content-height: 490px;
    --columns: 2;
    --gutter-width: 6px;
    --gutter-half-width: 3px;
    --gutter-and-half-width: 9px;
    --gutter-color: #fff;
    --double-edge-border-width: 0px;
    --edge-border-width: 0px;
    --edge-border-width-fallback: 0px;

}
@media (max-width: 734px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 0.5rem solid #ffffff ;
}

.iphone-14{
    background: url("assets/iphones.png") no-repeat center; 
    background-size: auto 55rem;
}
.watch{
    background: url("assets/apple-watch.png") no-repeat center;
    background-size: auto 55rem;
}
.title-heading-watch{
    height: 42px;
    background: url("assets/watch-series-8.png") center no-repeat;
    background-size: 109px 42px;
    margin-bottom: 0px;
    padding: 0;
    margin-block-start: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title-sub-heading-watch{
    font-size: 19px;
    width: 100%;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    color: #f5f5f7;
}
.trade-in{
    background: url("assets/trade-in-image.png") center no-repeat;
    background-size: auto 55rem;
}
.title-heading-tradein{
    background: url("assets/tradein-logo.png") no-repeat center;
    background-size: 127px 27px;
    height: 27px;
    margin-bottom: 0px;
    padding: 0;
    margin-block-start: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ipad-pro{
    background: url("assets/ipads.png") center no-repeat;
    background-size: auto 55rem;
}
.title-heading-ipad{
    height: 27px;
    font-size: 32px;
    margin-block-start: 1.33em;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #f5f5f7;
}
.title-sub-heading-ipad{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 100%;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    color: #f5f5f7;
}

.title-sub-heading-ipad .m2-logo{    
    display: inline-block;
    background-image: url("assets/m2-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
    margin-left: 4px;
    width: 35px;
    height: 35px;
}

.apple-news{
    background: url("assets/news-bg.jpeg") center no-repeat;
    width: auto;
    height: 55rem;
    background-size: 530px 490px;
}
.title-heading-news{
    background: url("assets/news-logo.png") no-repeat center;
    background-size: 99px 31px;
    height: 31px;
    margin-bottom: 4px;
    padding: 0px;
    margin-top: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.apple-fitness{
    background: url("assets/apple-fitness.png") center no-repeat;
    width: auto;
    height: 55rem;
    background-size: 530px 490px;
}
.title-heading-fitness{
    background: url("assets/fitness-logo.png") no-repeat center;
    background-size: 142px 26px;
    height: 26px;
    margin-bottom: 4px;
    padding: 0px;
    margin: 0 auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}